@page
@model NutritionTrackerRazorPages.Pages.ComplexFoodRecords.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComplexFoodRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplexFoodRecord.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplexFoodRecord.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplexFoodRecord.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplexFoodRecord.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplexFoodRecord.Food)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplexFoodRecord.Food.Discriminator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplexFoodRecord.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplexFoodRecord.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ComplexFoodRecord.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
