@page
@model NutritionTrackerRazorPages.Pages.FoodRecords.IndexGroupedModel
@{}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Time)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Food)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Amount)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Calories)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Fat)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Sodium)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Carbohydrates)</th>
            <th>@Html.DisplayNameFor(model => model.FoodRecord[0].Protein)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var group_date in Model.FoodRecord.GroupBy(health_record => health_record.Date))
        {
            var i = 0;

            @foreach (var group_time in group_date.GroupBy(health_record => health_record.Time))
            {
                var j = 0;

                @foreach (var item in group_time)
                {
                    <tr>

                        @if (i == 0 && j == 0) { <td>@Html.DisplayFor(modelItem => group_time.ElementAt(0).Date)</td> } else { <td></td> }
                        
                        @if (j == 0) { <td>@Html.DisplayFor(modelItem => group_time.ElementAt(0).Time)</td> } else { <td></td> }
                        
                        <td>@Html.DisplayFor(modelItem => item.Food.Name)</td>
                        <td>@Utils.Misc.RoundData(item.Amount)</td>
                        <td>@Utils.Misc.RoundData(item.Calories)</td>
                        <td>@Utils.Misc.RoundData(item.Fat)</td>
                        <td>@Utils.Misc.RoundData(item.Sodium)</td>
                        <td>@Utils.Misc.RoundData(item.Carbohydrates)</td>
                        <td>@Utils.Misc.RoundData(item.Protein)</td>

                        <td>
                            <a asp-page="./Edit"    asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete"  asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>

                    { j++; }
                }

                <tr>
                    <td></td>

                    <td>
                        <a asp-page="Create" asp-page-handler="WithDate"
                           asp-route-Date="@group_date.Key.ToString("yyyy-MM-dd")"

                           asp-route-Time="@group_date.Key.ToString("yyyy-MM-dd") @group_time.Key.ToString("HH:mm")"


                           >
                            Add
                        </a>
                    </td>

                    <td></td>
                    <td>Meal totals:</td>
                    <td>@Utils.Misc.RoundData(group_time.Sum(healthRecord => healthRecord.Calories))</td>
                    <td>@Utils.Misc.RoundData(group_time.Sum(healthRecord => healthRecord.Fat))</td>
                    <td>@Utils.Misc.RoundData(group_time.Sum(healthRecord => healthRecord.Sodium))</td>
                    <td>@Utils.Misc.RoundData(group_time.Sum(healthRecord => healthRecord.Carbohydrates))</td>
                    <td>@Utils.Misc.RoundData(group_time.Sum(healthRecord => healthRecord.Protein))</td>
                    <td></td>
                </tr>

                { i++; }
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Day totals:</td>
                <td>@Utils.Misc.RoundData(group_date.Sum(healthRecord => healthRecord.Calories))</td>
                <td>@Utils.Misc.RoundData(group_date.Sum(healthRecord => healthRecord.Fat))</td>
                <td>@Utils.Misc.RoundData(group_date.Sum(healthRecord => healthRecord.Sodium))</td>
                <td>@Utils.Misc.RoundData(group_date.Sum(healthRecord => healthRecord.Carbohydrates))</td>
                <td>@Utils.Misc.RoundData(group_date.Sum(healthRecord => healthRecord.Protein))</td>
                <td></td>
            </tr>
        }

    </tbody>
</table>
