@page
@model NutritionTrackerRazorPages.Pages.FoodRecords.IndexDevExtremeModel

@{ ViewData["Title"] = "Index"; }

@section scripts
{
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css">
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>

    <script>

        const food_record_data = [
                @foreach (var elt in Model.FoodRecord)
                {
                    <text>
                        {
                            Id                : "@elt.Id",
                            Date              : "@elt.Date.ToShortDateString()",
                            Time              : "@elt.Time.ToShortTimeString()",
                            Food              : "@elt.Food.Name",
                            Amount            : "@Utils.Misc.RoundData(elt.Amount)",

                            Calories          : "@(Utils.Misc.RoundData(elt.Calories))",
                            Fat               : "@(Utils.Misc.RoundData(elt.Fat))",
                            MonounsaturatedFat: "@(Utils.Misc.RoundData(elt.MonounsaturatedFat))",
                            PolyunsaturatedFat: "@(Utils.Misc.RoundData(elt.PolyunsaturatedFat))",
                            Omega3            : "@(Utils.Misc.RoundData(elt.Omega3))",
                            Omega6            : "@(Utils.Misc.RoundData(elt.Omega6))",
                            SaturatedFat      : "@(Utils.Misc.RoundData(elt.SaturatedFat))",
                            TransFat          : "@(Utils.Misc.RoundData(elt.TransFat))",
                            Cholesterol       : "@(Utils.Misc.RoundData(elt.Cholesterol))",
                            Carbohydrates     : "@(Utils.Misc.RoundData(elt.Carbohydrates))",
                            Fiber             : "@(Utils.Misc.RoundData(elt.Fiber))",
                            SolubleFiber      : "@(Utils.Misc.RoundData(elt.SolubleFiber))",
                            InsolubleFiber    : "@(Utils.Misc.RoundData(elt.InsolubleFiber))",
                            Starch            : "@(Utils.Misc.RoundData(elt.Starch))",
                            Sugars            : "@(Utils.Misc.RoundData(elt.Sugars))",
                            AddedSugars       : "@(Utils.Misc.RoundData(elt.AddedSugars))",
                            Protein           : "@(Utils.Misc.RoundData(elt.Protein))",
                            VitaminB1         : "@(Utils.Misc.RoundData(elt.VitaminB1))",
                            VitaminB2         : "@(Utils.Misc.RoundData(elt.VitaminB2))",
                            VitaminB3         : "@(Utils.Misc.RoundData(elt.VitaminB3))",
                            VitaminB5         : "@(Utils.Misc.RoundData(elt.VitaminB5))",
                            VitaminB6         : "@(Utils.Misc.RoundData(elt.VitaminB6))",
                            VitaminB12        : "@(Utils.Misc.RoundData(elt.VitaminB12))",
                            Folate            : "@(Utils.Misc.RoundData(elt.Folate))",
                            VitaminA          : "@(Utils.Misc.RoundData(elt.VitaminA))",
                            VitaminC          : "@(Utils.Misc.RoundData(elt.VitaminC))",
                            VitaminD          : "@(Utils.Misc.RoundData(elt.VitaminD))",
                            VitaminE          : "@(Utils.Misc.RoundData(elt.VitaminE))",
                            VitaminK          : "@(Utils.Misc.RoundData(elt.VitaminK))",
                            Calcium           : "@(Utils.Misc.RoundData(elt.Calcium))",
                            Copper            : "@(Utils.Misc.RoundData(elt.Copper))",
                            Iron              : "@(Utils.Misc.RoundData(elt.Iron))",
                            Magnesium         : "@(Utils.Misc.RoundData(elt.Magnesium))",
                            Manganese         : "@(Utils.Misc.RoundData(elt.Manganese))",
                            Phosphorus        : "@(Utils.Misc.RoundData(elt.Phosphorus))",
                            Potassium         : "@(Utils.Misc.RoundData(elt.Potassium))",
                            Selenium          : "@(Utils.Misc.RoundData(elt.Selenium))",
                            Sodium            : "@(Utils.Misc.RoundData(elt.Sodium))",
                            Zinc              : "@(Utils.Misc.RoundData(elt.Zinc))",
                        },
                    </text>
                }
        ]

        $(function () {
            $("#dataGrid").dxDataGrid({

                dataSource: food_record_data,

                keyExpr: "Id",

                columns: [
                                        
                    { dataField: "Id",     visible: false },    
                    { dataField: "Date",   groupIndex: 0, },
                    { dataField: "Time",   groupIndex: 1, },
                    { dataField: "Food",   fixed: true },
                    { dataField: "Amount", caption: "Amt" },



                    { dataField: "Calories", caption: "Cal", },

                    {
                        type: "buttons",

                        buttons: [

                            //{
                            //    text: "edit",
                            //    onClick: function (e) {

                            //        window.location.href = `/FoodRecords/Edit?id=${e.row.data.Id}`;
                                    
                            //        //console.log(e)
                            //    }
                            //},

                            {
                                template: function (abc, data) {                        
                                    var link = $("<a>").text("abc").attr("href", `/FoodRecords/Edit?id=${data.data.Id}`);
                                                                                                                                                                                                                        
                                    return link;
                                }
                            }

                        ]
                    },

                    {
                        caption: "Lipids",
                        columns: [
                            { dataField: "Fat", caption: "Fat", },
                            { dataField: "MonounsaturatedFat", caption: "Mono", },
                            { dataField: "PolyunsaturatedFat", caption: "Poly", },
                            { dataField: "Omega3", caption: "Om3", },
                            { dataField: "Omega6", caption: "Om6", },
                            { dataField: "SaturatedFat", caption: "Sat", },
                            { dataField: "TransFat", caption: "Trans", },
                            { dataField: "Cholesterol", caption: "Choles", },
                        ]
                    },

                    {
                        caption: "Carbohydrates",
                        columns: [
                            { dataField: "Carbohydrates", caption: "Carbs", },
                            { dataField: "Fiber", caption: "Fib", },
                            { dataField: "SolubleFiber", caption: "Sol", },
                            { dataField: "InsolubleFiber", caption: "Ins", },
                            { dataField: "Starch", caption: "Sta", },
                            { dataField: "Sugars", caption: "Sug", },
                            { dataField: "AddedSugars", caption: "Add", },
                        ]
                    },
                    
                    { dataField: "Protein", caption: "Pro", },

                    {
                        caption: "Vitamins",
                        columns: [
                            { dataField: "VitaminB1", caption: "B1", },
                            { dataField: "VitaminB2", caption: "B2", },
                            { dataField: "VitaminB3", caption: "B3", },
                            { dataField: "VitaminB5", caption: "B5", },
                            { dataField: "VitaminB6", caption: "B6", },
                            { dataField: "VitaminB12", caption: "B12", },
                            { dataField: "Folate", caption: "Fol", },
                            { dataField: "VitaminA", caption: "A", },
                            { dataField: "VitaminC", caption: "C", },
                            { dataField: "VitaminD", caption: "D", },
                            { dataField: "VitaminE", caption: "E", },
                            { dataField: "VitaminK", caption: "K", },
                        ]
                    },

                    {
                        caption: "Minerals",
                        columns: [
                            { dataField: "Calcium", caption: "Cal", },
                            { dataField: "Copper", caption: "Cop", },
                            { dataField: "Iron", caption: "Iron", },
                            { dataField: "Magnesium", caption: "Mag", },
                            { dataField: "Manganese", caption: "Man", },
                            { dataField: "Phosphorus", caption: "Pho", },
                            { dataField: "Potassium", caption: "Pot", },
                            { dataField: "Selenium", caption: "Sel", },
                            { dataField: "Sodium", caption: "Sod", },
                            { dataField: "Zinc", caption: "Zinc", },
                        ]
                    }
                ],

                columnAutoWidth: true,

                //columnChooser: { enabled: true },

                summary: {
                    groupItems: [
                        { column: "Calories",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Fat",                summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "MonounsaturatedFat", summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "PolyunsaturatedFat", summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Omega3",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Omega6",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "SaturatedFat",       summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "TransFat",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Cholesterol",        summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Carbohydrates",      summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Fiber",              summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "SolubleFiber",       summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "InsolubleFiber",     summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Starch",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Sugars",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "AddedSugars",        summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Protein",            summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB1",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB2",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB3",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB5",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB6",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminB12",         summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Folate",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminA",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminC",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminD",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminE",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "VitaminK",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Calcium",            summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Copper",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Iron",               summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Magnesium",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Manganese",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Phosphorus",         summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Potassium",          summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Selenium",           summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Sodium",             summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },
                        { column: "Zinc",               summaryType: "sum", alignByColumn: true, displayFormat: "{0}", valueFormat: "fixedPoint" },

                    ]
                }

            });
        });

        function show_all_columns() {
            $("#dataGrid").dxDataGrid("columnOption", "Calories",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Fat",                "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "MonounsaturatedFat", "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "PolyunsaturatedFat", "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Omega3",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Omega6",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "SaturatedFat",       "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "TransFat",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Cholesterol",        "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Carbohydrates",      "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Fiber",              "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "SolubleFiber",       "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "InsolubleFiber",     "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Starch",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Sugars",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "AddedSugars",        "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Protein",            "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB1",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB2",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB3",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB5",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB6",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB12",         "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Folate",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminA",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminC",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminD",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminE",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminK",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Calcium",            "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Copper",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Iron",               "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Magnesium",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Manganese",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Phosphorus",         "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Potassium",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Selenium",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Sodium",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Zinc",               "visible", true)
        }

        function show_basic_columns() {
            $("#dataGrid").dxDataGrid("columnOption", "Calories",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Fat",                "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "MonounsaturatedFat", "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "PolyunsaturatedFat", "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Omega3",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Omega6",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "SaturatedFat",       "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "TransFat",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Cholesterol",        "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Carbohydrates",      "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Fiber",              "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "SolubleFiber",       "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "InsolubleFiber",     "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Starch",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Sugars",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "AddedSugars",        "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Protein",            "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB1",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB2",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB3",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB5",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB6",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminB12",         "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Folate",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminA",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminC",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminD",           "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminE",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "VitaminK",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Calcium",            "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Copper",             "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Iron",               "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Magnesium",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Manganese",          "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Phosphorus",         "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Potassium",          "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Selenium",           "visible", false)
            $("#dataGrid").dxDataGrid("columnOption", "Sodium",             "visible", true)
            $("#dataGrid").dxDataGrid("columnOption", "Zinc",               "visible", false)
        }

    </script>
}

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>

    <button class="btn btn-primary" onclick="show_all_columns()">All</button>

    <button class="btn btn-primary" onclick="show_basic_columns()">Basic</button>
</p>

@*<div style="height: 70vh">
    <div id="data-table"></div>
</div>*@

<div id="dataGrid"></div>


